# Ignore Python bytecode and venv
__pycache__
*.pyc
*.pyo
venv/
.venv/

# Ignore macOS metadata 
.DS_Store

# Ignore backend secrets
mindflow/backend/.env

# Ignore pytest cache
.pytest_cache

# Ignore unused files
package.json

# Ignore nested git repositories
**/.git


